<form action="/add" method="post">

    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Course Name</label>
        <span class="helper-text" data-error="Please type course name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1">
        <label for="price">Course Price</label>
        <span class="helper-text" data-error="Please type price"></span>
    </div>

    <div class="input-field">
        <input id="image" name="image" type="text" class="validate" required>
        <label for="image">Course Image URL</label>
        <span class="helper-text" data-error="Please typr URL"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Add course</button>

</form>